<div class="container-fluid" style="padding-left: 0;padding-right: 0">
    <div class="commonTabs">
        <ul  class="nav nav-tabs">
            <li class="analysis-tab " heading="发布项目">
                <a ng-click="changeTabState('proj_list')">发布项目</a>
            </li>
            <li class="analysis-tab active" heading="历史项目">
                <a >历史项目</a>
            </li>
        </ul>
        <div class="tab-content">
            <finish-list></finish-list>
        </div>
    </div>
</div>
