<div class="modal-header">
    <h3 class="modal-title">导出报告</h3>
    <div></div>
</div>
<div class="modal-body" style="font-size: 14px;">
    <div class="row">
        <div class="col-sm-12 text-center" style="margin-top: 40px;margin-bottom: 40px">
            <div style="margin:0 auto;font-size: 20px;color:#CCC;border:1px dashed #CCC;height:100px;line-height:100px;width:220px;border-radius: 4px;">
                <span style="color:#4cae4c;">{{message}}&nbsp;&nbsp;<i style="font-size: 24px;" class="fa fa-spinner fa-pulse"></i></span>
            </div>
        </div>
    </div>
</div>

