<div class="modal-header">
    <h3 class="modal-title">加载中</h3>
    <div></div>
</div>
<div class="modal-body" style="font-size: 14px;">
    <div class="row">
        <div class="col-sm-12 text-center" style="margin-top: 60px;margin-bottom: 60px">
            <div style="margin:0 auto;font-size: 20px;color:#CCC;border:1px dashed #CCC;height:100px;line-height:100px;width:320px;border-radius: 4px;">
                <span style="color:#44dcfd;"><i style="font-weight: bolder; font-size: 24px;" class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;{{message}}</span>
            </div>
        </div>
    </div>
</div>

