<form name="form.scene_form"  ng-submit="formSubmit()" class="form-horizontal" novalidate autocomplete="off" onKeyPress="if(event.keyCode==13) return false">
    <div class="modal-header">
        <h3 class="modal-title" ng-bind="is_update ? '修改场景':'新增场景'">新增场景</h3>
        <div ng-click="formCancel()"></div>
    </div>
    <div class="modal-body" style="padding-top: 30px;padding-bottom: 2px;">
        <div class="form-group form_style" ng-show="is_update">
            <label class="col-sm-4 control-label label_key">场景名</label>
            <div class="col-sm-6 label_value" style="padding-top: 7px">
                <label ng-bind="scene_info.scene_name ? scene_info.scene_name : ''"></label>
            </div>
        </div>
        <div class="form-group form_style" ng-show="!is_update">
            <label class="col-sm-4 control-label label_key">场景名</label>
            <div class="col-sm-6">
                <input type="text"
                       class="form-control label_value"
                       name="scene_name"
                       ng-model="scene_info.scene_name"
                       placeholder="输入限制20个字符"
                       ng-maxlength="20"
                       required
                       ng-model-options="{updateOn: 'blur'}"/>
                <validate-msg tag-cn-name="场景名" name="scene_name" model="scene_info.scene_name"></validate-msg>
            </div>
        </div>
        <div class="form-group form_style">
            <label class="col-sm-4 control-label label_key" >场景描述</label>
            <div class="col-sm-6">
                <textarea type="text"
                          class="form-control label_value"
                          name="scene_desc"
                          style="resize:none;"
                          ng-model="scene_info.scene_desc"
                          placeholder="输入限制100个字符"
                          ng-maxlength="100"
                          ng-model-options="{updateOn: 'blur'}"
                        >
                    </textarea>
                <validate-msg tag-cn-name="场景描述" name="scene_desc" model="scene_info.scene_desc"></validate-msg>
            </div>
        </div>
        <div class="form-group form_style">
            <label class="col-sm-4 control-label label_key" >场景路径</label>
            <div class="col-sm-6">
                <input type="text"
                       class="form-control label_value"
                       name="scene_path"
                       ng-model="scene_info.scene_path"
                       placeholder="输入场景路径"
                       ng-maxlength="200"
                       ng-model-options="{updateOn: 'blur'}"/>
                <validate-msg tag-cn-name="场景路径" name="scene_path" model="scene_info.scene_path"></validate-msg>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 text-center" style="margin:20px 0;">
                <button class="save_cancel_btn cancel_btn btn_xl" ng-if="!btn_loading" type="button" ng-click="formCancel()" >取消</button>
                <button class="save_cancel_btn save_btn btn_xl" ng-if="!btn_loading" type="submit">保存</button>
                <button class="save_cancel_btn save_btn btn_xl" ng-if="btn_loading" type="button" >
                    <i style="color: white" class="fa fa-spinner fa-spin"></i>
                </button>
            </div>
        </div>
    </div>
</form>