    <div class="modal-header">
        <h3 class="modal-title">密码修改</h3>
        <div ng-click="cancel()"></div>
    </div>
    <div class="modal-body form-style" >
        <form name="form.pwdForm" class="form-horizontal" novalidate autocomplete="off" onKeyPress="if(event.keyCode==13) return false">
            <div class="form-group" >
                <label class="col-sm-3 control-label label-key" style="font-weight: 400;">用户名：</label>
                <div class="col-sm-8 label-value">
                    <label class="control-label" style="text-align: left;font-weight: 400;">{{userid}}</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label label-key" style="font-weight: 400;">原密码：</label>
                <div class="col-sm-8 label-value">
                    <input type="password" name="user_passwd" ng-model="pwd.user_passwd" class="form-control" required ng-minlength="6" ng-maxlength="30" ng-pattern="/^\d*$/" placeholder="请输入6-30以内数字">
                    <validate-msg tag-cn-name="原密码" name="user_passwd"></validate-msg>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label label-key" style="font-weight: 400;">新密码：</label>
                <div class="col-sm-8 label-value">
                    <input type="password" name="new_user_passwd" ng-model="pwd.new_user_passwd" class="form-control" required ng-minlength="6" ng-maxlength="30" ng-pattern="/[^\u4e00-\u9fa5]+/" placeholder="请输入6-30以内字符">
                    <validate-msg tag-cn-name="新密码" name="new_user_passwd"></validate-msg>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label label-key" style="font-weight: 400;">确认密码：</label>
                <div class="col-sm-8 label-key">
                    <input type="password" name="new_sec_passwd" ng-model="pwd.new_sec_passwd" class="form-control" required ng-minlength="6" ng-maxlength="30" ng-pattern="/[^\u4e00-\u9fa5]+/" placeholder="请输入6-30以内字符">
                    <validate-msg tag-cn-name="确认密码" name="new_sec_passwd"></validate-msg>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 40px;margin-top: 28px;">
                <div class="col-sm-12" style="text-align:center;">
                    <button type="button" class="cancel-btn btn-xl" style="" ng-click="cancel()">
                        取消
                    </button>
                    <button type="button" class="save-btn btn-xl" style="margin-left:40px;" ng-click="formSubmit()">
                        修改
                    </button>
                </div>
            </div>
        </form>

    </div>

