
<style>
    .checked_style{
        background: #9C55B7;
        color:white;;
    }
</style>
<form name="form.edit_group_form" class="form-horizontal" novalidate autocomplete="off" onKeyPress="if(event.keyCode==13) return false">
    <div class="modal-header">
        <h3 class="modal-title">修改项目分组</h3>
        <div ng-click="formCancel()"></div>
    </div>
    <div class="modal-body">
        <!-- 分组中文名-->
        <div class="row" style="margin-bottom:20px;">
            <label class="col-sm-3 control-label">分组中文名</label>
            <div class="col-sm-7">
                <input class="form-control" name="group_cn_name" ng-model="edit_group_info.group_cn_name " placeholder="输入分组中文名，(最多20个字)"
                       ng-model-options="{updateOn: 'blur'}"
                       ng-maxlength="25"
                       required/>
                <validate-msg name="group_cn_name" tag-cn-name="分组中文名" model="edit_group_info.group_cn_name "></validate-msg>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div style="max-height: 250px;overflow: auto;">
                    <table class="table table-no-bordered  tbody_height" >
                        <thead>
                        <tr>
                            <td>
                                <div style="display: inline-block;">
                                    <input type="checkbox" ng-model="all_checked" i-check  ng-change="selectAll(all_checked)"  >
                                </div>
                                <span>发布项目</span>
                            </td>
                            <td>业务系统</td>
                            <td>发布类型</td>
                            <td>执行人</td>
                            <td ng-click="col='start_bk_time';desc=!desc" style="cursor: pointer;">计划时间</td>
                            <td>前置项目</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="tr in groupList|orderBy:col:desc" class="checked_style">
                            <td>
                                <div ng-show="!(tr.pre_project_short_name=='无')">
                                    <div style="display: inline-block;" title="该项目有前后置项目关系，不能编列分组">
                                        <input type="checkbox" ng-model="tr.checked" i-check ng-true-value="1" ng-false-value="0" ng-disabled="!(tr.pre_project_short_name=='无')" >
                                    </div>
                                    <label>{{tr.project_short_name}}</label>
                                </div>
                                <div ng-if="(tr.pre_project_short_name=='无')">
                                    <div style="display: inline-block;">
                                        <input type="checkbox" ng-model="tr.checked" i-check ng-true-value="1" ng-false-value="0" ng-disabled="!(tr.pre_project_short_name=='无')" >
                                    </div>
                                    <label>{{tr.project_short_name}}</label>
                                </div>

                            </td>
                            <td>{{tr.business_cn_name}}</td>
                            <td>{{tr.project_nature_cn}}</td>
                            <td>{{tr.user_cn_name}}</td>
                            <td>{{tr.start_bk_time}}</td>
                            <td>{{tr.pre_project_short_name}}</td>
                        </tr>
                        <tr ng-repeat="tr in newGroupList|orderBy:col:desc" ng-class="tr.checked==1  ? 'checked_style': ''">
                            <td>
                                <div ng-show="!(tr.pre_project_short_name=='无')">
                                    <div style="display: inline-block;" title="该项目有前后置项目关系，不能编列分组">
                                        <input type="checkbox" ng-model="tr.checked" i-check ng-true-value="1" ng-false-value="0" ng-disabled="!(tr.pre_project_short_name=='无')">
                                    </div>
                                    <label>{{tr.project_short_name}}</label>
                                </div>
                                <div ng-if="(tr.pre_project_short_name=='无')">
                                    <div style="display: inline-block;">
                                        <input type="checkbox" ng-model="tr.checked" i-check ng-true-value="1" ng-false-value="0" ng-disabled="!(tr.pre_project_short_name=='无')">
                                    </div>
                                    <label>{{tr.project_short_name}}</label>
                                </div>
                            </td>
                            <td>{{tr.business_cn_name}}</td>
                            <td>{{tr.project_nature_cn}}</td>
                            <td>{{tr.user_cn_name}}</td>
                            <td>{{tr.start_bk_time}}</td>
                            <td>{{tr.pre_project_short_name}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div style="text-align: right;margin-top: 15px"><button class="cancel-btn btn-xl" ng-click="cancel()">撤销</button></div>
    </div>
    <div class="modal-footer">
        <div class="col-sm-12 text-center">
            <button ng-hide="edit_btn_loading" class="cancel-btn btn-xl"  ng-click="formCancel()">关闭</button>
            <button ng-hide="edit_btn_loading"  class="save-btn btn-xl" ng-click="formSubmit()" type="submit">修改</button>
            <button ng-show="edit_btn_loading" disabled="disabled" class="save-btn btn-xl">
                <i style="color: white" class="fa fa-spinner fa-spin"></i>
            </button>
        </div>
    </div>
</form>

