<div class="modal-header">
    <h3 class="modal-title">提示信息</h3>
    <div ng-click="cancel()"></div>
</div>
<!-- 准备-->
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 text-center">
            准备已成功！请选择处理方式 ?
        </div>
    </div>
    <div class="row" style="margin: 40px 0 20px">
        <div class="col-sm-12 text-center">
            <button  class=" save-btn btn-xl" type="button" ng-click="goToExecute()" style="margin-left: 20px;">直接执行</button>
            <button  class=" save-btn btn-xl" type="button" ng-click="cancel()" style="margin-left: 20px;">返回列表</button>
        </div>
    </div>
</div>
