<style>
    .dropdown-menu  li {
        height: auto;
    }
    .dropdown-menu  li:hover{
        background-color: transparent;
    }
    .dropdown-menu  li small{
        color: #333;
    }
</style>
<div class="modal-header">
    <h3 class="modal-title">重启项目</h3>
    <div></div>
</div>
<div class="modal-body">
    <div class="row form-horizontal form-style" style="margin-bottom: 20px;">
        <label class="col-sm-3 control-label label-key">项目名称</label>
        <label class="col-sm-4 control-label label-value" style="text-align: left">{{info.proj_short_name}}</label>
    </div>
    <div class="row form-horizontal form-style">
        <label class="col-sm-3 control-label label-key">变更日期</label>
        <div class="col-sm-3 pick-date-common">
            <input type="text" ng-click="config.datepicker.opened = true" is-open="config.datepicker.opened" min-date="{{config.datepicker.minDate}}" ng-model="info.pro_bk_date" class="form-control" datepicker-popup="yyyy年MM月dd日" datepicker-options="config.dateOptions" date-disabled="disabled(date, mode)" close-text="Close" required style="min-width: 260px;" readonly="true"/>
        </div>
    </div>
    <div style="text-align: center;margin-top: 40px;margin-bottom: 14px;">
        <button class="cancel-btn btn-xl" ng-click="cancel()">取消</button>
        <button ng-show="!control.save_btn_loading" class="save-btn btn-xl" ng-click="save()">确认</button>
        <button ng-show="control.save_btn_loading" disabled="disabled" class="save-btn btn-xl">
            <i style="color: white" class="fa fa-spinner fa-spin"></i>
        </button>
    </div>
</div>