<div class="form-group">
    <label class="col-sm-2 control-label label-key text-right">节点IP</label>
    <div class="col-sm-2 label-value padding-top-7 srv-ip">
        <span ng-bind="info.srv_info.server_ip"></span>
    </div>
    <div class="text-left deploy-agent-btn">
        <div ng-if="info.agent_status== 1" class="unstall-agent-btn">
            <button class="ordinary-btn" type="button" ng-click="startDeployAgent()">未部署AGENT</button>
        </div>
        <div class="deploy-agent-btn" ng-if="info.agent_status== 3">
            <button class="ordinary-btn" type="button" ng-click="startDeployAgent()">已部署AGENT</button>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 label-key control-label text-right">
        服务器描述
    </label>
    <div class="col-sm-4">
        <input type="text"
               class="form-control label-value"
               name="srv_desc"
               ng-model="info.srv_info.server_desc"
        >
        <validate-msg tag-cn-name="服务器描述" name="srv_desc"></validate-msg>
    </div>
</div>
<!--硬件配置-->
<div>
    <div class="form-group">
        <label class="col-sm-2 control-label label-key text-right">
            硬件配置
        </label>

        <div class="col-sm-8">
            <!-- 数据加载中-->
            <div class="content-loading" ng-if="control.basic_info_btn_loading">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
            <table class="sub-table basic-info-table text-center" style="border-top: none;">
                <tbody>
                <tr>
                    <td width="90px">
                        服务器名
                        <div class="change-flag-style" title="手动修改"
                             ng-if="info.srv_info.machine_basic_bean.machine_hard_bean.server_name_flag"></div>
                    </td>
                    <td>
                        <input name="server_name"
                               type="text"
                               ng-model="info.srv_info.machine_basic_bean.machine_hard_bean.server_name"
                               class="sub-form-control"
                               ng-blur="testIsChange(info.srv_info.machine_basic_bean.machine_hard_bean,'server_name','server_name_flag',data.machine_hard_bean)"
                        />
                        <validate-msg tag-cn-name="服务器名" name="server_name"></validate-msg>
                    </td>
                </tr>
                <tr>
                    <td width="90px">
                        机器配置
                        <div class="change-flag-style" title="手动修改"
                             ng-if="info.srv_info.machine_basic_bean.machine_hard_bean.machine_cfg_flag"></div>
                    </td>
                    <td>
                        <div class="has-feedback">
                            <input name="machine_cfg"
                                   type="text"
                                   ng-model="info.srv_info.machine_basic_bean.machine_hard_bean.machine_cfg"
                                   ng-blur="testIsChange(info.srv_info.machine_basic_bean.machine_hard_bean,'machine_cfg','machine_cfg_flag',data.machine_hard_bean)"
                                   class="sub-form-control"/>
                            <validate-msg tag-cn-name="机器配置" name="machine_cfg"></validate-msg>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>CPU
                        <div class="change-flag-style" title="手动修改"
                             ng-if="info.srv_info.machine_basic_bean.machine_hard_bean.cpu_flag"></div>
                    </td>
                    <td>
                        <div class="has-feedback">
                            <input
                                    name="cpu_info"
                                    type="text"
                                    ng-model="info.srv_info.machine_basic_bean.machine_hard_bean.cpu"
                                    class="sub-form-control"
                                    ng-blur="testIsChange(info.srv_info.machine_basic_bean.machine_hard_bean,'cpu','cpu_flag',data.machine_hard_bean)"
                                    placeholder="{{info.node.node_basic_msg.node_soft_msg.op_system.split(' ')[0] == 'Linux' ? '核数  型号 CPU @ X.XXGHz（例：4  Intel(R) Core(TM) i5-2320 CPU @ 3.00GHz）':'Processor Type: 型号 Number Of Processors: 核数 Processor Clock Speed: X.XXMHz（例：Processor Type: PowerPC_POWER5 Number Of Processors: 4Processor Clock Speed: 1654 MHz）'}}"
                            />
                            <validate-msg tag-cn-name="CPU" name="cpu_info"></validate-msg>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>内存
                        <div class="change-flag-style" title="手动修改"
                             ng-if="info.srv_info.machine_basic_bean.machine_hard_bean.mem_flag"></div>
                    </td>
                    <td>
                        <div class="has-feedback">
                            <input name="memory"
                                   type="text"
                                   ng-model="info.srv_info.machine_basic_bean.machine_hard_bean.mem"
                                   class="sub-form-control"
                                   ng-blur="testIsChange(info.srv_info.machine_basic_bean.machine_hard_bean,'mem','mem_flag',data.machine_hard_bean)"
                                   placeholder="例：16.0G或16.0g"
                            />
                            <validate-msg tag-cn-name="内存" name="memory"></validate-msg>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>磁盘
                        <div class="change-flag-style" title="手动修改"
                             ng-if="info.srv_info.machine_basic_bean.machine_hard_bean.disk_flag"></div>
                    </td>
                    <td>
                        <div class="has-feedback">
                            <input name="disk"
                                   type="text"
                                   ng-model="info.srv_info.machine_basic_bean.machine_hard_bean.disk"
                                   class="sub-form-control"
                                   ng-blur="testIsChange(info.srv_info.machine_basic_bean.machine_hard_bean,'disk','disk_flag',data.machine_hard_bean)"
                                   placeholder="例：16.OG或18T"
                            />
                            <validate-msg tag-cn-name="磁盘" name="disk"></validate-msg>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>网络
                        <div class="change-flag-style" title="手动修改"
                             ng-if="info.srv_info.machine_basic_bean.machine_hard_bean.network_flag"></div>
                    </td>
                    <td>
                        <div class="has-feedback">
                            <input name="network"
                                   type="text"
                                   ng-model="info.srv_info.machine_basic_bean.machine_hard_bean.network"
                                   class="sub-form-control"
                                   ng-blur="testIsChange(info.srv_info.machine_basic_bean.machine_hard_bean,'network','network_flag',data.machine_hard_bean)"
                                   placeholder="{{info.srv_info.machine_basic_bean.machine_soft_bean.op_system.split(' ')[0] == 'AIX' ? '网络名（例: em0）':'网络名 Speed: 速率( 例:etho Speed: 1000Mb/s)'}}"
                            />
                            <validate-msg tag-cn-name="网络" name="network"></validate-msg>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--软件配置-->
    <div class="form-group">
        <label class="col-sm-2 control-label label-key text-right">
            软件配置
        </label>

        <div class="col-sm-8">
            <!-- 数据加载中-->
            <div class="content-loading" ng-if="control.basic_info_btn_loading">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
            <table class="sub-table basic-info-table text-center" style="border-top: none;">
                <tbody>
                <tr>
                    <td width="90px">操作系统
                        <div class="change-flag-style" title="手动修改"
                             ng-if="info.srv_info.machine_basic_bean.machine_soft_bean.op_system_flag"></div>
                    </td>
                    <td>
                        <div class="has-feedback">
                            <input name="op_sys"
                                   type="text"
                                   ng-model="info.srv_info.machine_basic_bean.machine_soft_bean.op_system"
                                   ng-blur="testIsChange(info.srv_info.machine_basic_bean.machine_soft_bean,'op_system','op_system_flag',data.machine_soft_bean)"
                                   class="sub-form-control"
                            />
                            <validate-msg tag-cn-name="操作系统" name="op_sys"></validate-msg>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>JRE
                        <div class="change-flag-style" title="手动修改"
                             ng-if="info.srv_info.machine_basic_bean.machine_soft_bean.jre_flag"></div>
                    </td>
                    <td>
                        <div class="has-feedback">
                            <input name="jre_info"
                                   type="text"
                                   ng-model="info.srv_info.machine_basic_bean.machine_soft_bean.jre"
                                   ng-blur="testIsChange(info.srv_info.machine_basic_bean.machine_soft_bean,'jre','jre_flag',data.machine_soft_bean)"
                                   class="sub-form-control"
                            />
                            <validate-msg tag-cn-name="JRE" name="jre_info"></validate-msg>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>中间件
                        <div class="change-flag-style" title="手动修改"
                             ng-if="info.srv_info.machine_basic_bean.machine_soft_bean.middleware_flag"></div>
                    </td>
                    <td>
                        <div class="has-feedback">
                            <input name="middleware"
                                   type="text"
                                   ng-model="info.srv_info.machine_basic_bean.machine_soft_bean.middleware"
                                   ng-blur="testIsChange(info.srv_info.machine_basic_bean.machine_soft_bean,'middleware','middleware_flag',data.machine_soft_bean)"
                                   class="sub-form-control"
                            />
                            <validate-msg tag-cn-name="中间件" name="middleware"></validate-msg>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>数据库
                        <div class="change-flag-style" title="手动修改"
                             ng-if="info.srv_info.machine_basic_bean.machine_soft_bean.database_flag"></div>
                    </td>
                    <td>
                        <div class="has-feedback">
                            <input name="database"
                                   type="text"
                                   ng-model="info.srv_info.machine_basic_bean.machine_soft_bean.database"
                                   ng-blur="testIsChange(info.srv_info.machine_basic_bean.machine_soft_bean,'database','database_flag',data.machine_soft_bean)"
                                   class="sub-form-control"
                            />
                            <validate-msg tag-cn-name="数据库" name="database"></validate-msg>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--数据源-->
<div class="form-group">
    <label class="col-sm-2 control-label label-key text-right">
        数据源
    </label>
    <div class="col-sm-10">
        <div ng-if="info.data_soc_list.length!=0">
            <div class="srv-data-source" ng-repeat="soc in info.data_soc_list"  title="{{soc.user_root_path}}">
                <div class="protocol-type-style" title="{{soc.protocol_type_cn}}">{{soc.protocol_type_cn}}</div>
                <div class="soc-name-style"><span title="{{soc.user_name}}@{{soc.soc_ip}}">{{soc.user_name}}@{{soc.soc_ip}}</span></div>
            </div>
        </div>
        <div ng-if="info.data_soc_list.length==0">
            <div class="none-content-font-color" style="padding-top: 8px">暂无数据源</div>
        </div>
    </div>
</div>
<!--状态检查-->
<div class="form-group">
    <label class="col-sm-2 control-label label-key" style="padding-top: 17px;">状态检查</label>
    <div class="col-sm-10 label-value" style="padding-right: 35px">
        <div class="check-item-table">
            <table class="sub-table"  tbl-Data="info.node.monitor_item_list" row-plus="addCheckItem()">
                <thead>
                <tr  style="height:30px">
                    <td style="padding-left: 10px;">
                        检查项名称
                    </td>
                    <td style="padding-left: 10px;">
                        检查项组件
                    </td>
                    <td width="90px">
                        操作
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="check_item in info.node.monitor_item_list" >
                    <td>
                        <input type="text" name="check_item{{$index}}" ng-model="check_item.monitor_item_name" placeholder="检查项名称" required class="sub-form-control">
                        <validate-msg tag-cn-name="检查项名称" name="check_item{{$index}}"></validate-msg>
                    </td>
                    <td>
                        <div ng-if="!check_item.phase.phase_name" style="color: #6D7183">点击右侧配置按钮配置组件及参数</div>
                        <div ng-if="check_item.phase.phase_name">
                                              <span title="{{check_item.phase.phase_name}}" style="padding-left: 10px;color: #d2f1fe">
                                                  <i style="padding-right: 4px;font-size: 14px;color:#93d9fd" class="fa fa-cube"></i>
                                                  {{check_item.phase.phase_name}}
                                              </span>
                            <div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span class="status-check-operate" title="配置" ng-click="statusCheckConfig(check_item)"></span>
                            <span class="status-check-delete" title="删除" ng-click="deleteStatusCheck($index)"></span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--<div class="check-item-save-btn">
            <button ng-if="!control.start_check_save_loading"  class="save-btn btn-xl text-center"  ng-click="saveMonitorItem()" style="font-size: 14px;">保存</button>
            <button ng-if="control.start_check_save_loading" disabled="disabled" class="save-btn btn-xl disabled-btn text-center" style="margin-right: 0">
                <i style="color: white"  class="fa fa-spinner fa-spin"></i>
            </button>
        </div>-->
    </div>
</div>
<!--插件部署-->
<div class="form-group form-style">
    <label class="col-sm-2 control-label label-key" style="padding-top: 17px;">插件部署</label>
    <div class="col-sm-10 label-value" style="padding-left: 15px;padding-right: 35px;">
        <div class="plugin-deploy-wrap">
            <div class="plugin-env-btn-div" ng-if="info.node.plugin_list.length!=0">
                <div class="plugin-env-btn" ng-click="chooseDeployPlugin()" style="text-align: center" ng-class="{'plugin-deploy-disabledbtn':control.plugin_deploy_loading}">
                    <span>部署</span>
                </div>
            </div>
            <div class="plugin-content">
                <div class="env-container" ng-class="{'env-container-fail':plugin.deploy_status==3,'env-container-succ':plugin.deploy_status==2,'env-container-mid':plugin.deploy_status==4 || plugin.deploy_status==1}"  ng-repeat="plugin in info.node.plugin_list">
                    <div class="text-center">
                        <div class="env-img-style"></div>
                    </div>
                    <div class="text-center" style="margin-top: 4px;">
                        <span class="env-name" ng-bind="plugin.plugin_name ? plugin.plugin_name : '--'" title="{{plugin.plugin_name}}"></span>
                    </div>
                    <div class="env-deploy-loading" ng-if="plugin.deploy_status ==1 || plugin.deploy_status == 4">
                        <i class="fa fa-spin fa-circle-o-notch" style="font-size: 26px;margin-top: 26px"></i>
                        <div style="margin-top: 4px" ng-bind="plugin.deploy_status==1 ? '部署中...':plugin.deploy_status==4 ? '删除中...':''"></div>
                    </div>
                    <div class="env-deploy-status evn-deploy-succ" ng-if="plugin.deploy_status==2" title="部署成功"></div>
                    <div class="env-deploy-status evn-deploy-failed" ng-if="plugin.deploy_status==3" title="{{plugin.error_message}}"></div>
                </div>
                <div ng-if="info.node.plugin_list.length==0 || !info.node.plugin_list" style="text-align: center;margin-top: 30px;">
                   <span class="plugin-empty-style none-content-font-color"
                         style="display: inline-block;height: 90px;width: 100px;text-align: center;padding-right:10px;mt25;cursor: pointer;" ng-click="chooseDeployPlugin()">
                       点击部署插件
                   </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--保存按钮-->
<div class="form-group">
    <div class="col-sm-12 text-center">
        <button ng-if="!control.save_btn_loading" type="button" ng-click="back()" class="cancel-btn btn-md">取消</button>
        <button ng-if="control.save_btn_loading" type="button" class="cancel-btn btn-md">取消</button>
        <button ng-if="!control.save_btn_loading" type="button" class="save-btn btn-md" ng-click="saveSrvInfo()">保存</button>
        <button ng-if="control.save_btn_loading" type="button" class="save-btn btn-md">
            <i style="color: white" class="fa fa-spinner fa-spin"></i>
        </button>
    </div>
</div>
