
<div class="row form-style">
    <div class="col-sm-4 text-right">
        <label class="control-label label-key" >接口信息</label>
    </div>
    <div class="col-sm-8">
        <label class="control-label label-value">123333333123</label>
    </div>
</div>
<div class="row form-style">
    <div class="col-sm-4 text-right">
        <label class="control-label label-key" >接口信息</label>
    </div>
    <div class="col-sm-8">
        <label class="control-label label-value">434324</label>
    </div>
</div>
<div class="row form-style">
    <div class="col-sm-4 text-right">
        <label class="control-label label-key" >批量SQL执行内容</label>
    </div>
    <div class="col-sm-8">
        <table class="sub-table">
            <thead>
                <tr>
                    <td>
                        sql语句
                    </td>
                    <td>
                        预期执行结果
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>select * from us_user </td>
                    <td>成功</td>
                </tr>
                <tr>
                    <td>update us_user set user_id = 'asdasd' </td>
                    <td>成功</td>
                </tr>
                <tr>
                    <td>delete  us_user where user_id = 'asdasd'</td>
                    <td>成功</td>
                </tr>
               <!--<tr ng-repeat="tr in info.prog.pac_type_list" class="ng-scope">
                    <td ng-bind="tr.type_name" class="ng-binding">app.tar</td>
                    <td ng-bind="tr.type_cn_name" class="ng-binding">应用包</td>
                </tr>-->
            </tbody>
        </table>
    </div>
</div>
