<div class="container-fluid" style="padding-right: 0;padding-left: 0">
    <tabset class="commonTabs">
        <ul  class="nav nav-tabs">
            <li class="analysis-tab active" heading="准备">
                <a>准备项目</a>
            </li>
            <li class="analysis-tab" heading="发布">
                <a ng-click="changeTabState('pub_list')">发布项目</a>
            </li>
        </ul>
        <div class="tab-content">
            <prod-pre-list></prod-pre-list>
        </div>
    </tabset>

</div>