<div class="container-fluid" style="padding-right: 0;padding-left: 0">
    <tabset class="commonTabs">
        <ul  class="nav nav-tabs">
            <li class="analysis-tab " heading="准备">
                <a ng-click="changeTabState('pre_list')">准备项目</a>
            </li>
            <li class="analysis-tab active" heading="发布">
                <a>发布项目</a>
            </li>
        </ul>
        <div class="tab-content">
            <prod-exe-list></prod-exe-list>
        </div>
    </tabset>
</div>