
<div class="container-fluid version-manager-common version_publish">
    <div class="table-search">
        <div class="table-search-input">
            <input type="text"
                   ng-model="info.search_key_word"
                   class="form-control"
                   placeholder="输入关键字查询"
                   ng-enter="searchByKeyword()">
        </div>
        <div class="table-search-btn">
            <span class="table-clear-logol" ng-if="info.search_key_word" ng-click="clearKeyWord()"></span>
            <span class="table-search-logol"></span>
        </div>
    </div>
    <div class="row version-margin-top-240" ng-if="control.loading">
        <div class="col-sm-4 col-sm-offset-4 text-center">
            <div class="loading-font-color">
                <span class="fa fa-spinner fa-spin version-loading-icon"></span>
            </div>
            <div class="margin-top-10">
                <span class="loading-font-color">正在获取信息&nbsp;&nbsp;</span>
            </div>
        </div>
    </div>
    <div class="row" ng-if="!control.loading" >
        <div class="row version-margin-top-150" ng-if="info.pub_stream_list.length == 0">
            <div class="col-sm-6 col-sm-offset-5">
                <div class="none_pub_img"></div>
                <p class="version-font-12 none-content-font-color version-margin-left-32">暂无数据</p>
            </div>
        </div>
        <div ng-if="info.pub_stream_list.length >0" style="display: inline-block;position: relative;">
            <div  class="common_version" ng-repeat="one_pub in info.pub_stream_list" ng-click="goPubVersion(one_pub)">
                <!--第一行-->
                <div class="pub_total_img"  ng-class="one_pub.version_num ? 'back_total_color':'none_touch'">
                    <div class="stream-list-first-row"  ng-class="one_pub.version_num ? '':'cursor_no_touch'">
                        <span class="common_version_span_total common_version_span version-font-18 version-sys-name-color" style="padding-right: 5px;">{{one_pub.business_cn_name}}</span>
                        <span  class="common_version_span_total common_version_span version-font-12">
                    <label class="version-sys-name-color version-opacity-80">{{one_pub.version_num}}</label>
                    <label title="{{one_pub.modify_bk_date}} {{one_pub.modify_bk_time}}" class="version-default-color">{{one_pub.modify_bk_date}}</label>
                    <label title="{{one_pub.modify_bk_date}} {{one_pub.modify_bk_time}}" class="version-default-color">{{one_pub.modify_bk_time}}</label>
                </span>
                    </div>
                </div>
                <!--第二行-->
                <div class="version_margin_left10" ng-class="one_pub.version_num ? '':'cursor_no_touch'">
                    <div class="version-common-icon version-proj-icon"></div>
                    <span class="version-width-120 version-font-12 version-default-color stream-list-second-row">
                        项目名称
                        <label class="text-ellipse" style="width: 126px;vertical-align: top" ng-if="one_pub.project_name">{{one_pub.project_name}}</label>
                        <label ng-if="!one_pub.project_name && one_pub.version_status!=4">--</label>
                    </span>
                </div>
                <div class="version_margin_left10" ng-class="one_pub.version_num ? '':'cursor_no_touch'">
                    <div  class="version-common-icon version-seq-icon"></div>
                    <span class="version-font-12 version-default-color stream-list-second-row">
                        需求编号
                        <label class="text-ellipse" style="width: 126px;vertical-align: top" ng-if="one_pub.demand_id">{{one_pub.demand_id}}</label>
                        <label ng-if="!one_pub.demand_id">--</label>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>