<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <button class="hollow-btn btn-lg" ng-click="routineWindowSet()">
                例行窗口设置
            </button>
            <button class="hollow-btn btn-lg" ng-click="specialWindowSet()">
                特殊窗口设置
            </button>
            <button class="hollow-btn btn-lg" ng-click="blackWindowSet()">
                特殊日设置
            </button>
        </div>
    </div>
    <!--发布窗口列表-->
    <div class="row" style="margin: 30px 0">
        <div class="col-sm-12">
           <pub-window-list ></pub-window-list>
        </div>
    </div>
</div>