<div class="container-fluid release-calendar">
    <div style="height: 40px;line-height: 40px;">
        <span>备注：</span>
        <span>例行窗口</span>
        <span style="width: 10px;height: 10px;background: #3bb8d5;display: inline-block;margin-left: 5px"></span>
        <span style="margin-left: 15px">特殊日窗口</span>
        <span style="width: 10px;height: 10px;background: #E9416E;display: inline-block;margin-left: 5px"></span>
        <span  style="margin-left: 15px">已关闭的窗口</span>
        <span style="width: 10px;height: 10px;background: #46505e;display: inline-block;margin-left: 5px"></span>
    </div>
    <div ui-calendar="uiConfig.calendar" class="span8 calendar" calendar="myCalendar"></div>
</div>