<style>
    .sitebar_right_img{
        background: url(img/comm/sitebar_right_new.png) no-repeat scroll 0 0;
        width: 140px;
    }
    .bar_sec_004_010{
        background: url("img/comm/bar_sec_004_010.png") no-repeat left center;
    }
    .bar_sec_004_042{
        background: url("img/comm/bar_sec_004_042.png") no-repeat left center;
    }
    .bar_sec_004_074{
        background: url("img/comm/bar_sec_004_074.png") no-repeat left center;
    }
    .bar_sec_004_106{
        background: url("img/comm/bar_sec_004_106.png") no-repeat left center;
    }
    .bar_sec_004_138{
        background: url("img/comm/bar_sec_004_138.png") no-repeat left center;
    }
    .bar_sec_004_170{
        background: url("img/comm/bar_sec_004_170.png") no-repeat left center;
    }
    .bar_sec_004_202{
        background: url("img/comm/bar_sec_004_202.png") no-repeat left center;
    }
    .bar_sec_004_234{
        background: url("img/comm/bar_sec_004_234.png") no-repeat left center;
    }
    .bar_sec_004_266{
        background: url("img/comm/bar_sec_004_266.png") no-repeat left center;
    }
    .bar_sec_004_298{
        background: url("img/comm/bar_sec_004_298.png") no-repeat left center;
    }
    .bar_sec_004_321{
        background: url("img/comm/bar_sec_004_321.png") no-repeat left center;
    }
    .bar_sec_004_330{
        background-position: -4px -480px;
    }
    .bar_sec_004_362{
        background: url("img/comm/bar_sec_004_362.png") no-repeat left center;
    }
    .bar_sec_004_394{
        background: url("img/comm/bar_sec_004_394.png") no-repeat left center;
    }

    .bar_sec_004_396{
        background: url("img/comm/bar_sec_004_396.png") no-repeat left center;
    }
    .bar_sec_004_426{
        background: url("img/comm/bar_sec_004_426.png") no-repeat left center;
    }
    .bar_sec_004_449{
        background-position: -4px -449px;
    }
    .bar_sec_004_458{
        background: url("img/comm/bar_sec_004_458.png") no-repeat left center;
    }
    .bar_sec_004_490{
        background: url("img/comm/bar_sec_004_490.png") no-repeat left center;
    }
    .bar_sec_004_426{
        background: url("img/comm/bar_sec_004_426.png") no-repeat left center;
    }
    .bar_sec_005_022{
        background: url("img/comm/bar_sec_004_022.png") no-repeat left center;
    }
    .bar_sec_004_522{
        background-position: -4px -512px;
    }
    .bar_sec_004_554{
        background-position: -4px -544px;
    }
    .bar_sec_004_451{
        background: url("img/comm/bar_sec_004_451.png") no-repeat left center;
    }
    .bar_sec_004_437{
        background: url("img/comm/bar_sec_004_437.png") no-repeat left center;
    }
    .bar_sec_004_439{
        background: url("img/comm/bar_sec_004_439.png") no-repeat left center;
    }
    .bar_sec_004_433{
        background: url("img/comm/bar_sec_004_433.png") no-repeat left center;
    }
    .bar_sec_004_431{
        background: url("img/comm/bar_sec_004_431.png") no-repeat left center;
    }
    .bar_sec_004_411{
        background: url("img/comm/bar_sec_004_411.png") no-repeat left center;
    }
    .bar_sec_004_477{
        background: url("img/comm/bar_sec_004_477.png") no-repeat left center;
    }
    .bar_sec_004_265{
        background: url("img/comm/bar_sec_004_265.png") no-repeat left center;
    }
    .bar_sec_004_466{
        background-position: -4px -329px;
    }



    .sitebar{
        border: 1px solid transparent;
        width: 100px;
        height: 90px;
        text-align: center;
        padding: 18px 27px;
        margin-top: 2px;
    }
    .sitebar:hover{
        border:1px solid rgba(68, 220, 253, 1);
        border-radius: 4px;
        cursor:pointer;
    }
    .sitebar_active{
        border:1px solid rgba(68, 220, 253, 1) !important;
        border-radius: 4px !important;
        cursor:pointer !important;
        background:#121d28;
    }
    .bar_angle{
        color:#4C85E2;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-left: 6px solid #4c85e2;
        display: inline-block;
        margin-right: 2px;
        position: relative;
        top: -2px;
    }

    .user_img{
        background: rgba(0, 0, 0, 0) url("img/new_img/topbarOpera2.png") no-repeat scroll -8px -54px !important;

    }
    .user_img:hover{
        background: rgba(0, 0, 0, 0) url("img/new_img/topbarOpera2.png") no-repeat scroll -54px -54px !important;
    }
    .message_img{
        background: rgba(0, 0, 0, 0) url("img/new_img/topbarOpera2.png") no-repeat scroll -8px -100px !important;
        width: 30px;
        height: 30px;
    }
    .message_img:hover{
        background: rgba(0, 0, 0, 0) url("img/new_img/topbarOpera2.png") no-repeat scroll -54px -100px !important;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .task_img{
        background: rgba(0, 0, 0, 0) url("img/new_img/topbarOpera2.png") no-repeat scroll -8px -146px !important;
        width: 30px;
        height: 30px;
    }
    .task_img:hover{
        background: rgba(0, 0, 0, 0) url("img/new_img/topbarOpera2.png") no-repeat scroll -54px -146px !important;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .search_img{
        background: rgba(0, 0, 0, 0) url("img/new_img/topbarOpera2.png") no-repeat scroll -8px -192px !important;
        width: 30px;
        height: 30px;
    }
    .search_img:hover{
        background: rgba(0, 0, 0, 0) url("img/new_img/topbarOpera2.png") no-repeat scroll -54px -192px !important;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .out_img{
        background: rgba(0, 0, 0, 0) url("img/new_img/topbarOpera2.png") no-repeat scroll -8px -238px !important;
        width: 30px;
        height: 30px;
    }
    .out_img:hover{
        background: rgba(0, 0, 0, 0) url("img/new_img/topbarOpera2.png") no-repeat scroll -54px -238px !important;
        width: 30px;
        height: 30px;
        cursor: pointer;

    }
    .home_img{
        background: rgba(0, 0, 0, 0) url("img/new_img/topbarOpera2.png") no-repeat scroll -8px -8px !important;
        width: 30px;
        height: 30px;
    }
    .home_img:hover{
        background: rgba(0, 0, 0, 0) url("img/new_img/topbarOpera2.png") no-repeat scroll -54px -8px !important;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .bar_item{
        width: 120px;
        height: 33px;
        text-align: center;
        line-height: 32px;
        color: #d2f1fe;
        display: inline-block;
        background: rgba(0,0,0,0.2);
        margin-bottom: 8px;
        margin-right: 6px;

        border:1px solid transparent;
    }
    .bar_item:hover{
        color:rgba(68, 220, 253, 1);
        border:1px solid rgba(68, 220, 253, 1);
        cursor:pointer;
        background: rgba(68, 220, 253, 0.05);
    }
    .bar_item_active{
        color:rgba(68, 220, 253, 1);
        border:1px solid rgba(68, 220, 253, 1);
        cursor:pointer;
        background: rgba(68, 220, 253, 0.05);
    }

    .second_bar {
        display:none;
        width: 300px;
        height: 560px;
        position: absolute;
        /*background: rgba(36,40,54,0.85);*/
        background: url("img/header/nav-bg.png");
        background-size: cover;
        left: 120px;
        padding:20px 24px;
		margin-top:10px;
        z-index: 111;
    }
    .second_bar_show {
        display: inherit;!important;
    }

    .pub_y_0{
        background: transparent url(img/comm/u11.png) no-repeat scroll top center;height: 50px;width: 50px;padding-top: 50px;color: #44dcfd;font-size:12px;
    }
    .fault_y_64{
        background: transparent url(img/comm/u2.png) no-repeat scroll top center;height: 50px;width: 50px;padding-top: 50px;color: #44dcfd;font-size:12px;
    }
    .busis_y_128{
        background: transparent url(img/comm/u4.png) no-repeat scroll top center;height: 50px;width: 50px;padding-top: 50px;color: #44dcfd;font-size:12px;
    }
    .opera_y_192{
        background: transparent url(img/comm/u8.png) no-repeat scroll top center;height: 50px;width: 50px;padding-top: 50px;color: #44dcfd;font-size:12px;
    }
    .cmpt_y_258{
        background: transparent url(img/comm/u6.png) no-repeat scroll top center;height: 50px;width: 50px;padding-top: 50px;color: #44dcfd;font-size:12px;
    }
    .model_y_362{
        background: transparent url(img/comm/u3.png) no-repeat scroll top center;height: 50px;width: 50px;padding-top: 50px;color: #44dcfd;font-size:12px;
    }

    .Dev_y_481 {
        background: transparent url(img/comm/u12.png) no-repeat scroll top center;height: 50px;width: 50px;padding-top: 50px;color: #44dcfd;font-size:12px;
    }

    .Wiki_y_532 {
        background: transparent url(img/comm/u15.png) no-repeat scroll top center;height: 50px;width: 50px;padding-top: 50px;color: #44dcfd;font-size:12px;
    }
    .leftBar{
        width:130px;
        height:700px;
        position: absolute;
        top: 70px;
        left: 70px;
        /*float:left;*/
        padding:10px 20px 10px 10px;
        /*background: #091118*/
    }

</style>

<div class="leftBar" ng-style="{'top': sitebarData.top_bar_lg ? '70px' : '60px'}">
    <div ng-repeat="one_auth in level_menu_list" ng-class="( one_auth.sort_key == sitebarData.level_menu_num && sitebarData.secondBarIsOpen ) || ( one_auth.menu_name == breadcrumb[breadcrumb.length-1].menu_name ) ? 'sitebar sitebar_active' : 'sitebar'" ng-click="secondBarOpen(one_auth.sort_key)" >
        <div ng-class="one_auth.rsim_url"  style="">{{one_auth.menu_name}}</div>
    </div>
</div>
<div style="height: auto;" ng-class="sitebarData.secondBarIsOpen ? 'second_bar_show second_bar' : 'second_bar'" ng-mouseleave="secondBarOpen(-1)">
    <div ng-repeat="one_auth in level_menu_list" >
        <div ng-if="one_auth.sort_key == sitebarData.level_menu_num" ng-repeat="meun_list in one_auth.meun_bean_list" ng-init="outerIndex = $index"  style="margin-top: 10px;">
            <div class="sitebar_right_img {{meun_list.rsim_url}}" style="height:30px;color: #FFF;line-height: 30px;padding-left: 30px;" ng-bind="meun_list.name"></div>
            <div>
                <div ng-class="(sitebarData.rsul_num == inIndex && sitebarData.menu_num == outerIndex) ?  'bar_item bar_item_active' :'bar_item'" ng-bind="tab.text" ng-click="goToUrl(tab.frame,inIndex,outerIndex)" ng-repeat="tab in meun_list.tabs" ng-init="inIndex = $index"></div>
            </div>
        </div>
    </div>
</div>

