<div class="row" style="margin-left: 0;margin-right: 0;">
    <div class="col-sm-12" style="padding:10px;" ng-if="control.tab_flag ==  1">
        <table bs-table-control="tasksHistoryCommitTableControl" class="table lg-table"></table>
    </div>
    <div class="col-sm-12" style="padding:10px;" ng-if="control.tab_flag ==  2">
        <table bs-table-control="tasksHistoryUncheckTableControl" class="table lg-table"></table>
    </div>
    <div class="col-sm-12" style="padding:10px;" ng-if="control.tab_flag ==  3">
        <table bs-table-control="tasksHistoryUnauthTableControl" class="table lg-table"></table>
    </div>
</div>