
<div class="row">
    <div class="col-sm-12" style="padding:10px;" ng-if="control.tab_flag == 1">
        <table bs-table-control="tasksMineWorkListTableControl" class="table lg-table"></table>
    </div>
    <div class="col-sm-12" style="padding:10px;" ng-if="control.tab_flag == 2">
        <table bs-table-control="tasksMineUncheckWorkTableControl" class="table lg-table"></table>
    </div>
    <div class="col-sm-12" style="padding:10px;" ng-if="control.tab_flag == 3">
        <table bs-table-control="tasksMineUnauthWorkTableControl" class="table lg-table"></table>
    </div>
    <div class="col-sm-12" style="padding:10px;" ng-if="control.tab_flag == 4">
        <div style="display: inline-block;margin-bottom: 10px;cursor: pointer;">
            <div class="general-btn"
                 ng-repeat="val in filter_list"
                 ng-style="val.checked ? {'color':'black','background-color':'#44dcfd','border-color':'#44dcfd'}:{}"
                 ng-click="getHandleList($index)"
                 style="width: 76px;height: 24px;line-height: 23px;display:inline-block;margin-right: 4px;">{{val.value}}</div>
            <div style="clear: both;"></div>
        </div>
        <table bs-table-control="tasksTroubleTicketTableControl" class="table lg-table"></table>
    </div>
</div>